<div class="container" >
    <div class="book-container">
        <div class="book-data-container">
        <img 
            src="{{book.logo}}"
            alt="" width="300px" height="350px">
        </div>
        <p></p>
        <div class="book-data-container">
            <div class="book-details">
                <p>Title: </p>
                <b>{{book.title}}</b>
            </div>
            <div class="book-details">
                <p>Author: </p>
                <b>{{book.authorName}}</b>
            </div>
            <div class="book-details">
                <p>Category: </p>
                <b>{{book.category}}</b>  
            </div>
            <div class="book-details">
                <p>Price: </p>
                <b>{{book.price}} </b> 
            </div>
            <div class="book-details">
                <p>Publisher: </p>
                <b>{{book.publisher}}</b>  
            </div>
            <div class="book-details">
                <p>Published date: </p>
                <b>{{book.publishedDate}}</b>  
            </div>        
        </div>
    </div>
    <div class="book-content">
        <p>content: </p>
        <b>{{book.content}}</b>
    </div>
</div>
