<div class="book-container" >
    <div class="image container">
        <img src="https://i.pinimg.com/474x/dd/95/a3/dd95a351f81a30205d6fd1428fd28b8d.jpg" alt="" width="400px" height="500px">
    </div>
    <div class="book-data-container">
        <div class="book-details">
            <p>Title: </p>
            <b>{{book.title}}</b>
        </div>
        <div class="book-details">
            <p>Author: </p>
            <b>{{book.authorName}}</b>
        </div>
        <div class="book-details">
            <p>Category: </p>
            <b>{{book.category}}</b>  
        </div>
        <div class="book-details">
            <p>Price: </p>
            <b>{{book.price}} </b> 
        </div>
        <div class="book-details">
            <p>Publisher: </p>
            <b>{{book.publisher}}</b>  
        </div>
        <div class="book-details">
            <p>Published date: </p>
            <b>{{book.publishedDate}}</b>  
        </div>
        <div class="book-details">
            <p>content: </p>
            <b>{{book.content}}</b>
        </div>
    </div>

</div>
