<div class="col-md-12">
  <div class="card card-container" *ngIf="!isSearchSuccess">
    <h3>Search books</h3>
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSearch()"
      #f="ngForm"
      novalidate
    >
    <div class="form-group">
      <label for="category">Category</label>
      <input
        type="text"
        class="form-control"
        name="category"
        [(ngModel)]="searchForm.category"
        />
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        [(ngModel)]="searchForm.title"
        />
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input
        type="text"
        class="form-control"
        name="author"
        [(ngModel)]="searchForm.author"
        />
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block">search</button>
    </div>
    
    <div class="form-group">
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="isSearchFailed"
      >
        Search failed: {{ errorMessage }}
      </div>
    </div>
  </form>
  </div>
  <div class="search-container" ng-app="Subsciptions App" ng-controller="Subsciptions controller" *ngIf="isSearchSuccess">
    <button (click)="oncancelSearch()">cancel search</button>
    <br>
    <h5>Books related to search</h5>   
      <div class="book-container" *ngFor="let book of books">
          <div class="book-details-container"  (click)="onClick(book)">
            <img src="https://i.pinimg.com/474x/dd/95/a3/dd95a351f81a30205d6fd1428fd28b8d.jpg" alt="" width="250" height="200"><!--{{book.logo}}-->
            <br>
            {{book.title}}
          </div>
          <div class="book-edit-container" *ngIf="isUserLoggedIn">
            <button (click)="onSubscribe(book.id)" *ngIf="!subscribed(book.id)">subscribe</button><!-- [routerLink]="['/updateBook']"-->
            <button (click)="onUnSubscribe(book.id)" *ngIf="subscribed(book.id)">unsubscribe</button><!-- [routerLink]="['/updateBook']"-->
          </div>
        </div>
  </div>
</div>
