<div class="container" ng-app="Subsciptions App" ng-controller="Subsciptions controller">
  <div class="user-details">

    <p class="details"><b>User name:</b> &nbsp; {{user.username}}</p>
    <p class="details"><b>Email Id:</b> &nbsp; {{user.email}}</p>
    <p class="details"><b>Phone number:</b> &nbsp; {{user.phoneNumber}}</p>

  </div>
  <div class="alert alert-warning" *ngIf="noActiveSubscriptions">
    No active subscribtions available!
  </div>
  <h3 *ngIf="activeSubscriptions"> Active subsciptions</h3>
    <div class="book-container" *ngFor="let book of books">
        <div class="book-details-container"  (click)="onClick(book)" [routerLink]="['/book', book.id]">
          <img src="{{book.logo}}" alt="" width="175" height="200">
          <br>
          <p class="book-title"><b>Title: </b>{{book.title}}</p>
        </div>
        <div *ngIf="verifyIfLessThan24Hrs(book.id)">
          <button class="btn btn-primary btn-block" (click)="onCancelSubscription(book.id)" >cancel subscription</button>
        </div>
    </div>
</div>