<div class="allbooks-container" ng-app="books App" ng-controller="books controller">
  <h5 *ngIf="isBooksAvailable">Books created by {{user.username}}</h5>
  <div class="alert alert-warning" *ngIf="!isBooksAvailable">
    {{user.username}} haven't created any books yet
  </div>
    <div class="book-container" *ngFor="let book of books">
      <div class="book-item">
          <div class="book-details-container"  (click)="onClick(book)" [routerLink]="['/book', book.id]">
            <img src="{{book.logo}}" alt="" width="175" height="200"><!--{{book.logo}}-->
            <br>
            <p class = "book-title">{{book.title}}</p>
          </div>
          <div class="book-edit-container">
            <button class="button" (click)="onUpdate(book)" [routerLink]="['/updateBook']">update</button>
            <button class="button" (click)="onBlock(book.id)" *ngIf="book.active">block</button>
            <button class="button" (click)="onUnblock(book.id)" *ngIf="!book.active">unblock</button>
          </div>
        </div>
    </div>
  </div>